*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html{
    font-size: 20px;
}

/* header */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-container{
    line-height: 40px;
}


.header-item-left, .header-item-right{
    width: 20%;
    padding: 0 10px;
}

.header-item-central{
    width: 60%;
    justify-content: center;
}

.header-item-right{
    justify-content: flex-end;
}

nav.header-item-central li{
    list-style-type: none;
}

nav.header-item-central ul li a{
    color: white;
    text-decoration: none;
    padding: 0 25px;
}

/* section .intro */

.intro{
    margin: 90px 0;
    justify-content: center;
}

.intro-container{
    display: block;
    width: 700px;
    text-align: center;
}

.intro-container p{
    color: white;
    padding: 0 30px;
}

.intro-title{
    color: white;
    font-size: 2.5rem;
}

/* main */

main h2{
    font-size: 2rem;
}

main p{
    font-size: 1.2rem;
}

.main-sec{
    padding: 50px 0;
}

.main-container{
    display: flex;
}

.big-item{
    height: 500px;
    width: 60%;
}

.small-item{
    height: 500px;
    width: 40%;
}

.big-container{
    text-align: center;
}

/* footer */

footer h3{
    font-size: 1.4rem;
    color: #8EA1E1;
}

footer{
    background-color: rgb(41, 39, 39);
}

.footer-container-top{
    color: white;
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-item-left{
    line-height: 50px;
    width: calc(100% / 6 * 2);
}

.footer-lang{
    display: flex;
    align-items: center;
    column-gap: 3px;
    font-size: 0.7rem;
}

.ita-icon{
    height: 15px;
}

.footer-item-right{
    font-size: 0.9rem;
    line-height: 35px;
    width: calc(100% / 6 * 4);
}

.box{
    width: calc(100% / 4);
}

.footer-container-bot{
    margin-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.footer-bot-box{
    padding: 5px 10px;
    margin: 20px 0;
}

ul li:first-child p{
    color: #8EA1E1;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

/* Utils */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.border-d-black{
    border: 2px dashed black;
}

.bg-gray{
    background-color: #f6f6f6;
}

.row-r{
    flex-direction: row-reverse;
}

.separator{
    border-top: 1px solid #8EA1E1;
}

.btn{
    font-size: 0.8rem;
    padding: 15px 20px;
    border-radius: 30px;
    border-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.margin-left-30{
    margin-left: 30px;
}

.margin-left-15{
    margin-left: 15px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-bot-50{
    margin-bottom: 50px;
}

.margin-bot-30{
    margin-bottom: 30px;
}

.style-btn-black{
    background-color: #242424;
    color: white;
}

.style-btn-blue{
    background-color: #8EA1E1;
    color: white;
}

.stars-bg{
    display: inline-block;
    padding: 40px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

